<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="w-50 mx-auto p-5 border m-5">
    <h2 class="text-center my-5">Welcome to Todo Application</h2>
    <div class="text-center">
        <a href="/todoList" class="btn btn-primary">View to-do list</a>
        <a href="/addTodo" class="btn btn-success">Add to-do</a>
    </div>
</div>
</body>
</html>